.navigation {
    background-color: #77b1a3f3;
    position: fixed;
    width: 100%;
    z-index: 999;
    top: 0;
}
.logo {
    width: 130px;
    cursor: pointer;
    margin: 15px 350px;
}
@media only screen and (max-width: 1550px) {
    .logo {
        width: 130px;
        cursor: pointer;
        margin: 15px 200px;
    }
}
.cartBtn {
    border: none;
    background-color: rgba(107, 107, 107, 0);
    font-size: 23px;
    float: right;
    margin: 12px 18% 20px 0;
    color: white;
}
@media only screen and (max-width: 1550px) {
    .cartBtn {
        border: none;
        background-color: rgba(107, 107, 107, 0);
        font-size: 23px;
        float: right;
        margin: 15px 13% 20px 0;
        color: white;
    }
}
.cartBtn:hover {
    color: #beccbf;
}
@media only screen and (max-width: 1550px) {
    .userBtn {
        text-decoration: none;
        color: white;
        float: right;
        margin: 5px 2% 20px 0;
        font-size: 30px;
    }
}
.userBtn {
    text-decoration: none;
    color: white;
    float: right;
    margin: 5px 2% 20px 0;
    font-size: 30px;
}
.userBtn:hover {
    cursor: pointer;
    color: #beccbf;
}
.userBtnText {
    float: right;
    font-size: 15px;
    margin: 13px 0 0 10px;
    line-height: 15px;
}
.cartCloseBtn {
    margin: 2% 2% 2% 90% !important;
    padding: 1% !important;
}
.cartHeader {
    text-align: center;
    padding-bottom: 3%;
}
.cartHeaderEmpty {
    font-weight: bold;
    font-size: 20px;
    text-align: center;
    padding: 5%;
}
.productName {
    padding: 1%;
    margin: 1% 0 0 5% !important;
    background-color: rgba(191, 191, 191, 0.266);
    margin-bottom: 10px;
    border-radius: 10px;
    border: 1px solid rgba(0, 0, 0, 0.164);
}
.qntBtn {
    padding-top: 3%;
    margin-right: 8%;
    display: flex;
}
.qntBtnMinus {
    background-color: rgba(187, 82, 82, 0.649);
    border: none;
    border-radius: 5px;
    height: 25px;
    margin-right: 5px;
}
.qntBtnPlus {
    background-color: rgba(203, 203, 203, 0.649);
    border: none;
    border-radius: 5px;
    height: 25px;
}
.productPrice {
    padding-top: 3%;
}
.itemPrice {
    margin-left: 2% !important;
    font-size: 17px;
    padding-bottom: 1%;
}
.itemPriceAmount {
    margin-left: 2% !important;
    font-size: 25px;
    padding-bottom: 5%;
    text-decoration: underline;
}
.buyBtn {
    background-color: rgba(208, 84, 17, 0.84) !important;
    width: 30%;
    margin: -2% 0 3% 63%;
    padding: 2%;
    border: none;
    border-radius: 6px;
    color: white;
}
.buyBtn:hover {
    background-color: rgba(208, 84, 17, 0.992) !important;
}
