.shippingMain {
    background-color: rgb(255, 255, 255);
}
.cartHeader2 {
    text-align: center;
    padding-top: 12%;
    -webkit-text-stroke: 1px black;
    font-size: 80px;
    color: #77b1a3;
}
.shippingHeader {
    text-align: center;
    padding-top: 5%;
    -webkit-text-stroke: 1px black;
    color: transparent;
}
.cartHeaderEmpty2 {
    font-weight: bold;
    font-size: 20px;
    text-align: center;
    padding: 15% 0;
}
.shippingItemInfo {
    width: 35%;
    margin: 5% 0 0 5%;
}
.shippingInfo {
    display: flex;
}
.productName2 {
    padding: 1%;
    margin: 1% 0 0 5% !important;
    background-color: rgba(191, 191, 191, 0.266);
    margin-bottom: 10px;
    border-radius: 10px;
    border: 1px solid rgba(0, 0, 0, 0.164);
}
.qntBtn2 {
    padding-top: 3%;
    margin-right: 8%;
    display: flex;
}
.qntBtnMinus2 {
    background-color: rgba(187, 82, 82, 0.649);
    border: none;
    border-radius: 5px;
    height: 25px;
    margin-right: 5px;
}
.qntBtnPlus2 {
    background-color: rgba(203, 203, 203, 0.649);
    border: none;
    border-radius: 5px;
    height: 25px;
}
.productPrice2 {
    padding-top: 3%;
}
.itemPrice2 {
    margin-left: 2% !important;
    font-size: 17px;
    padding-bottom: 1%;
}
.itemPriceAmount2 {
    margin-left: 2% !important;
    font-size: 25px;
    padding-bottom: 5%;
    text-decoration: underline;
}
.buyBtn2 {
    background-color: rgba(208, 84, 17, 0.84) !important;
    width: 30%;
    margin: -2% 0 3% 63%;
    padding: 2%;
    border: none;
    border-radius: 6px;
    color: white;
}
.buyBtn2:hover {
    background-color: rgba(208, 84, 17, 0.992) !important;
}
.shippingForm {
    width: 50%;
    border-radius: 10px;
    padding: 2% 3% 0% 3%;
    margin: 5% 0 5% 5% ;
    background-color: #8383831a;
}
.buyBtn3 {
    background-color: rgba(208, 84, 17, 0.84) !important;
    width: 50%;
    margin: 0% 0 3% 45%;
    padding: 5% 10%;
    border: none;
    border-radius: 6px;
    color: white;
}
.buyBtn3:hover {
    background-color: rgba(208, 84, 17, 0.992) !important;
}
.btn-close {
    margin: 2% 90%;
}
.modalHeader {
    text-align: center;
    font-weight: bold;
    color: rgba(208, 84, 17, 0.992) !important;
}
.modalInfo{
    text-align: center;
}

.productName3 {
    padding: 1%;
    margin: 1% 0 0 20% !important;
    background-color: rgba(191, 191, 191, 0.266);
    margin-bottom: 10px;
    border-radius: 10px;
    border: 1px solid rgba(0, 0, 0, 0.164);
}
.copyright{
    text-align: center;
}
.shippingAlert{
    text-align: center;
}